<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="css/menu.css">
</head>
<body>
    <div class="nav">
        <img src="images/logo.jpg" alt="">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/menu">On the menu</a></li>
        </ul>
        <div class="sign">
            <div><a href="login">Log in</a></div>
            <div><a href="signup">Sign up</a></div>
        </div>
    </div>

    <h1 class="header">Week Chef Recommandations</h1>

    <div class="body">
        <div class="row">
            <div class="elem">
                <img src="images/dish1.jpg" alt="">
                <div>
                    <p>开水白菜</p>
                    <p>cabbage in special soup</p>
                    <p>cabbage, confidential recipe soup</p>
                    <p>Soup</p>
                    <p>$21.00</p>
                    <p>Wave 4 min</p>
                    <p>servings – 1</p>
                    <p>110 Cal</p>
                </div>
            </div>
            <div class="elem">
                <img src="images/dish2.jpg" alt="">
                <div>
                    <p>红枣苦瓜</p>
                    <p>Red date and bitter gourd</p>
                    <p>date, bitter gourd</p>
                    <p>Salad</p>
                    <p>$16.00</p>
                    <p>0 min</p>
                    <p>Servings – 2</p>
                    <p>200 Cal</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="elem">
                <img src="images/dish3.jpg" alt="">
                <div>
                    <p>薏米海参</p>
                    <p>Sauté sea cucumber with Chinese barley</p>
                    <p>Sea cucumber, barley</p>
                    <p>Classic Meals</p>
                    <p>$29.99</p>
                    <p>Servings – 1</p>
                    <p>110 Cal</p>
                </div>
            </div>
            <div class="elem">
                <img src="images/dish4.jpg" alt="">
                <div>
                    <p>松茸鲍鱼丁</p>
                    <p>Stir fried abalone and matsutake</p>
                    <p>abalone and matsutake</p>
                    <p>Classic Meals</p>
                    <p>$ 28.00</p>
                    <p>Wave 4 min</p>
                    <p>Servings – 2</p>
                    <p>330 Cal</p>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div>
            <p>QJD PEKING DUCK RESTARANT</p>
            <p>7095 WOODBINE AVE, MARKHAM, ON</p>
        </div>
        <div>
            <p>905- 604-7798</p>
            <p>QJDPEKINGDUCK@GMAIL.COM</p>
        </div>
    </div>
</body>
</html>